body{
background-color:black;
color: white;
font-family: 'Happy Monkey', cursive;
font-family: 'Open Sans', sans-serif;
}

h1{
text-align: center;
margin-top: 6%;
margin-bottom: 100px;
}

.button2{
 font-size: 20px;
 font-weight: bold;
 width: 110px;
 height: 45px;
 border: 2px solid black;
 margin-top: 10px;
 border-radius: 10px;
}


.text{
text-align: end;
font-size: 20px;
margin-right: 5px;
margin-top: -40px;
}

.number{
width:15rem;
height:9rem;
background: white;
font-size: 100px;
font-weight: bold;
color: black;
border: 2px solid black;
margin-left: auto;
margin-right: auto;
text-align: center;
border: 3px solid red;

}

.line{
 border: 3px solid white;
 width:100%;
 margin-top: -75px;
}

.add{
    width: 130px;
    height: 90px;
    border: 2px solid red;
    margin-top: 15%;
    margin-left: 20%;
    font-size: 40px;
    font-weight: bold;
    padding-left: 6%;
}

.button1{
    width:120px;
    height:40px;
    background: white;
    margin-top:2%;
    margin-left:23%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
}

.result{
    margin-left: 60%;
    margin-top: -14%;
    font-size: 25px;
    font-weight: bold;
}