body{
    font-family: 'Open Sans', sans-serif;
    background: #343541;
    color: white;
}


.heading{
 display: flex;
 justify-content: center;
 margin-top: 13%;
 margin-left: 12%;
}

.sidebar{
position: absolute;
background: #2b2c2f;
width:250px;
height:100%;
top:0%;
left: 0px;
z-index: 5;
}