*{
margin: 0;
padding:0;
box-sizing: border-box;
background-color: white;
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-size: 16px;

}

img{
width:280px;
height:250px;
margin-top: -60px;
}

a{
text-decoration: none;
color: black;
}

a:hover{
color:purple;
}

ul li{
display:inline;
margin: 20px;

}

.main-nav{
text-align: center;
margin-top:-138px;
}

.main-buttons{
display: inline;
float: right;
padding-right: 90px;
margin-top: -45px;
}

button{
color: purple;
width:90px;
height:45px;
border: 2px solid purple;
margin: 15px;
border-radius: 10px;
background:purple;
color: white;
}

button:hover{
background:grey;
color: purple;
}

/* Banner-Section */

.main-banner{
margin-top: 10%;
}

p{
color: grey;
font-size: 20px;

}

.banner-text{
font-size: 96px;
font-weight: 700;
line-height: 116px;

}

span{
font-size: 96px;
color: purple;
font-weight: 900;
line-height: 116px;
}

.button-started{
width:350px;
height:50px;
font-size: larger;
margin-top: 5%;
animation-duration:3sec;
}

/* Trusted section */

.next{
font-size: 50px;
}

.primary{
font-size: 50px;
}

.images{
    width:250px;
    height:110px;
    margin-top: 1px;
    margin: 10px;
}

/* Block */

.block{
display:flex;
justify-content: center;
}

.one{
width:450px;
height: 160px;
border: 3px solid lightgray;
border-radius: 10px;
margin: 20px;
}

/*onw text*/

h2,.box-text{
padding-top: 10px;
text-align: left;
padding-left:20px;
}


h2{
padding-top: 30px;
color: purple;
font-size: 20px;
}

.fa-circle{
font-size: 2rem;
float: right;
padding:10px;
margin-top: 15px;
padding-right: 20px;
}

/*Setup Container CSS*/
.custom-icon{
float:left;
margin-left: 17%;
margin-top:5%;
}

h3{
text-align: left;
padding-top: 6%;
}

.container{
    height:500px;
    
}

.set-up{
font-size:50px;
text-align: left;

}

.fluid{
font-size: 50px;
margin-left:18%;
}