body{
margin: 0;
padding: 0;
background-color:#FFFFFF;
color: white;
font-family: 'Manrope', sans-serif;
}

/* Footer Block*/

.footer_block{
box-sizing: border-box;
background-color: black;
width:85%;
height:550px;
margin: 0 auto;
}

.footer_block_text{
margin-left: 10%;
padding-top: 8%;
}

.block_line{
width:30px;
background-color: white;
height:2px;
float: left;
margin-top: 11px;
margin-right: 10px;
}

.block-subheading{
color: white;
font-size: 20px;
}

.block-heading{
font-size: 74px;
line-height: 74px;
font-style: normal;
font-weight: 600;
}

.block_quote{
float: right;
margin-right:100px;
width:250px;
height:90px;
border-radius: 96px;
font-size:20px;
margin-top: -190px;
}

.footer {
margin-left: 8%;
display: grid;
grid-template-columns: repeat(4, 400px);
gap: 10px; /* Adjust the gap as needed */
padding:20px;
}

img{
width:240px;
height:180px;
padding-top: 80px;
}

.footer-text{
color:black;
font-size: 20px;
}

.first{
margin-left: 200px;
}
.border{
margin-left: -9px;
height:700px;
}
.second{
margin-left:-150px;
}


.heading{
color: black;
font-size: 27px;
font-weight: 400;
line-height:20px;
font-style: normal;
margin-top: -80px;
}

.fas{
color: black;
font-size: 40px;
margin-top: 130px;
}

.footer_column_text{
font-size: 20px;
padding-left: 65px;
margin-top: -30px;
}

.footer-email{
padding-top: 20px;
font-size: 18px;
padding-left: 65px;
}

.second-column-heading{
color: black;
font-size: 20px;
margin-top: 150px;
letter-spacing: 4px;
}

.footer-pages{
margin-left: -80%;
}

.footer-divider{
width:400px;
margin-left: -8px;
height:2px;
background-color: black;
}

.footer-links{
display: grid;
grid-template-columns: repeat(2, 150px);
list-style: none;
letter-spacing: 3px;
}

.footer-nav{
padding-top: 15px;
text-align: left;
margin-left: -40px;

}

/*footer-column -second */
.footer-nav{
color: black;
font-size: 20px;
}

.social-media{
grid-column: 4;
color: black;
margin-top: -145%;
font-size: 23px;
letter-spacing: 4px;
}

.social-media-icons{
font-size: 22px;
}

.footer-end{
margin-left:-19px;
}

.footer_bottom{
margin-bottom: 50px;
height:2px;
background-color: black;
width:87%;
margin-top: -40px;
}