body{
    background: linear-gradient(to bottom, #000428, #004e92);
    text-align: center;
    color: white;
}

#count-el{
    margin-top:50px;
}

.container{
 width:600px;
 height: 600px;
 border: 1px solid #78ffd6;
 display: block;
 margin: 8% auto;
 border-radius: 8px;
}

btn{
    display:block;   
    margin:0 auto;
}

.btn1{
   background-color: #f79d00;
   margin-top: 15%;
   width:150px;
   height:30px;
   border-radius: 10px;
   padding-top: 10px;
   font-size: 20px;
}

.btn2{
background-color: red;
margin-top: 30px;
width:150px;
height:30px;
border-radius: 10px;
padding-top: 10px;
font-size: 20px;
}

#visit{
    margin-top: 50px;
}