body{
background: #e7d6c5;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Serif', serif;
}

.container{
width:500px;
height:400px;
border: solid 3px #696045;
border-radius: 10px;
background:linear-gradient(#beaa90,#696045);
display: block;
margin:0 auto;
margin-top:15%;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 20px;
}

#btn{
display:block;
margin-top: 20px;
width:120px;
height:28px;
font-size: large;
margin-left: 38%;
background: linear-gradient(to left top, #fefdfe,#beaa90);
border:1px solid black;
border-radius: 20px;
font-family: Arial, Helvetica, sans-serif;

}

#one{
 width:150px;  
 border-radius: 2px;
 border: 1ps solid black;
}